@import 'node_modules/purecss/build/pure';
@import 'node_modules/purecss/build/grids-responsive';
@import 'layout';

.timer {
  margin-top: 20px;
}

.cell {
  width: 15px;
  height: 15px;
  font-size: 12px;
}
